* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: black;
  background-color: white;
}

.entryWelcome{
  text-align: left;
  margin-top: 180px;
  margin-left: 88px;
  font-size: 70px;
}

.logo{
  display: inline-block;
  height: auto;
  border: solid 0px;
  text-align: left;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

header{
  display: flex;
  min-height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #015958;
  background-color: #015958;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 0px #023535;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav a:hover{
  background-color: #008F8C;
}

@media (max-width:650px){
    header{
      flex-direction: column;
    }

    nav{
      padding:  10px 0px;
    }
}

nav a[aria-current='page'] {
  color: white;
  background-color: #023535;
}

main {
  padding: 1rem;
  position: relative;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  
}

.block1{
  display: flex;
  width: auto;
  height: 720px;
  background-color: #0FC2C0;
}

.block2{
  min-width: 200px;
  height: 680px;
  background-color: white;
  justify-content: center;
}

.block2 h1{
  text-align: center;
  margin-bottom: 40px;
}

.block2 p{
  text-align: center;
}

.block3{
  
  width: auto;
  height: 760px;
  background-color: #0FC2C0;
  
}

.block3 h1{
  text-align: center;
  margin-bottom: 40px;
}
